@import './berliana/sidebar.scss';

.btn,
.card,
.form-control,
.input-group-text,
.modal-content,
.modal-header,
.dropdown-menu,
.custom-select {
  border-radius: 0 !important;
}

.btn {
  border:0px !important;
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

input {
  &[type='text'],
  &[type='number'],
  &[type='password'],
  textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
  }
}

// text transformer
.text {
  &-uc {
    text-transform:uppercase;
  }
  &-uce {
    text-transform: capitalize;
  }
}

// shadow in card
.card,
.small-box {
  box-shadow: 0 0 1px rgba(0, 0, 0, .125),
    0 1px 3px rgba(0, 0, 0, .2);
}


// Dashboard Widget
.small-box {
  position: relative;
  display: block;
}

.small-box .inner {
  padding: 10px;
}

.small-box h3,
.small-box p {
  z-index: 5;
}

.small-box h3 {
  font-size: 38px;
  font-weight: 700;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

.small-box .icon {
  transition: all .3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, .15);
}

.small-box:hover {
  .icon {
    top: -15px;
    font-size: 95px;
  }
}


.notif-icon {
  display: inline-block;
  text-align:center;
  width:1rem;
  margin-right: 1rem;
}
// Plugins
.ck-editor__editable {
  min-height: 200px;
}