<template>
  <div>
    <b-container fluid>
      <b-row :style="$mq | mq({xs:{marginTop:'30px'},md:{marginTop:'100px'}})">
        <b-col cols="6" md="3">
          <div class="small-box bg-primary mb-3 mb-md-0">
            <div class="inner">
              <h3>99</h3>

              <p>Ujian</p>
            </div>
            <div class="icon">
              <fa icon="database" />
            </div>
          </div>
        </b-col>
        <b-col cols="6" md="3">
          <div class="small-box bg-success mb-3 mb-md-0">
            <div class="inner">
              <h3>640</h3>

              <p>Peserta</p>
            </div>
            <div class="icon">
              <fa icon="user" />
            </div>
          </div>
        </b-col>
        <b-col cols="6" md="3">
          <div class="small-box bg-danger mb-3 mb-md-0">
            <div class="inner">
              <h3>13</h3>

              <p>Group</p>
            </div>
            <div class="icon">
              <fa icon="layer-group" />
            </div>
          </div>
        </b-col>
        <b-col cols="6" md="3">
          <div class="small-box bg-warning mb-3 mb-md-0">
            <div class="inner">
              <h3>124</h3>

              <p>History</p>
            </div>
            <div class="icon">
              <fa icon="history" />
            </div>
          </div>
        </b-col>
        <b-col cols="12" md="6">
          <b-card class="bg-shine mt-4">
            <h5 class="mb-3 text-uce">Notifications</h5>
            <hr>
            <b-card class="bg-warning mb-3">
              <div class="notif-icon">
                <fa icon="exclamation" />
              </div>
              <p class="m-0 d-inline-block">
                Foo bar
              </p>
            </b-card>
            <b-card class="bg-success mb-3">
              <div class="notif-icon">
                <fa icon="user" />
              </div>
              <p class="m-0 d-inline-block">
                Foo bar
              </p>
            </b-card>
          </b-card>
        </b-col>
        <b-col cols="12" md="6">
          <b-card class="bg-shine mt-4">
            <h5 class="mb-3">Ujian hari ini</h5>
            <hr>
            <b-card class="bg-light mb-3">
              <p class="m-0 mr-3 d-inline-block">
                Ujian Sabar Sesi 1
              </p>
              <p class="m-0 d-inline-block">
                <strong>14:30</strong>
              </p>
            </b-card>
            <b-card class="bg-light mb-3">
              <p class="m-0 mr-3 d-inline-block">
                Ujian Tabah
              </p>
              <p class="m-0 d-inline-block">
                <strong>16:45</strong>
              </p>
            </b-card>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'home',
  components: {
  },
  data () {
    return {

    }
  },
  methods: {
    
  },
  mounted() {
  },
}
</script>

<style lang="scss" scoped>

</style>

