<template>
  <div>
    <b-container fluid style="margin-bottom:100px;">
      <b-row :style="$mq | mq({xs:{marginTop:'30px'},md:{marginTop:'70px'}})">
        <b-col cols="12">
          <h2 class="mt-4 mb-4 text-uce">Peserta</h2>
          <hr>
        </b-col>

        <!-- SEARCH FORM -->
        <b-col cols="12">
          <b-input-group class="mb-2">
            <b-form-input v-model="filter" placeholder="Search..."></b-form-input>
          </b-input-group>
        </b-col>
        <!-- END SEARCH FORM -->

        <!-- SORT BY FORM -->
        <b-col cols="6" md="4">
          <b-form-group label="Sort" class="mb-1">
            <b-input-group style="max-width:200px;">
              <b-form-select v-model="sortBy" :options="sortOptions" size="sm">
                <option slot="first" :value="null">-- none --</option>
              </b-form-select>

              <b-form-select v-model="sortDesc" :disabled="!sortBy" slot="append" size="sm">
                <option :value="false">Asc</option> <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col cols="6" md="4">
          <b-form-group label="Sort direction" class="mb-1">
            <b-input-group style="max-width:100px;">
              <b-form-select v-model="sortDirection" slot="append" size="sm">
                <option value="asc">Asc</option> <option value="desc">Desc</option>
                <option value="last">Last</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        <!-- END SORT BY FORM -->
        
        <!-- PER PAGE COUNT -->
        <b-col cols="6" md="4">
          <b-form-group label="Per page" class="mb-3">
            <div style="max-width:100px;">
              <b-form-select v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
            </div>
          </b-form-group>
        </b-col>
        <!-- END PER PAGE COUNT -->

        <!-- BUTTON ADD AND IMPORT -->
        <b-col cols="12">
          <b-button class="bg-primary btn-sm float-right" @click="showModalAdd"><fa icon="plus" /> Add New</b-button>
          <b-button class="bg-primary btn-sm float-right" @click="showModalImport"><fa icon="file-import" /> Import</b-button>
        </b-col>
        <!-- END BUTTON ADD AND IMPORT -->

        <!-- TABLE BEGIN -->
        <b-col cols="12">
          <div style="width:auto;white-space:nowrap;overflow-x: auto;">
            <b-table
              bordered striped
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              @filtered="onFiltered"
            >

              <!-- ADD CUSTOM BUTTON -->
              <template slot="options" slot-scope="row">
                <a :href="`absen-${row.item.no_induk}`" class="text-primary">
                  <fa icon="eye" size="sm" />
                </a> |
                <a href="javascript:void(0)" @click="showModalEdit" class="text-warning">
                  <fa icon="edit" size="sm" />
                </a> |
                <a href="javascript:void(0)" @click="showModalDelete" class="text-danger">
                  <fa icon="trash-alt" size="sm" />
                </a>
              </template>
              <!-- END CUSTOM BUTTON -->

            </b-table>
          </div>
        </b-col>
        <!-- TABLE END -->

        <b-col md="12" class="mb-3 mt-3 mt-md-0">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            size="sm"
            class="my-0 float-right"
          ></b-pagination>
        </b-col>

      </b-row>
    </b-container>

    <!-- MODAL SECTIONS -->

    <!-- MODAL ADD -->
    <b-modal ref="modal-add" hide-footer header-bg-variant="primary" header-text-variant="light" title="Tambah Peserta Baru">
      <b-row>
        <b-col>
          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.no_induk" placeholder="Nomor Induk"></b-form-input>
          </b-form-group>

          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.nama" placeholder="Nama"></b-form-input>
          </b-form-group>

          <b-button class="bg-primary float-right">Submit</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL ADD -->

    <!-- MODAL IMPORT -->
    <b-modal ref="modal-import" hide-footer header-bg-variant="primary" header-text-variant="light" title="Import Peserta">
      <b-row>
        <b-col>
          <b-form-group class="mb-3">
            <b-form-file
              v-model="form.file"
              :state="Boolean(form.file)"
              placeholder="Choose a file..."
              drop-placeholder="Drop file here..."
            ></b-form-file>
          </b-form-group>
          <b-button class="bg-primary float-right">Submit</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL IMPORT -->

    <!-- MODAL EDIT -->
    <b-modal ref="modal-edit" hide-footer header-bg-variant="primary" header-text-variant="light" title="Edit Peserta">
      <b-row>
        <b-col>
          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.no_induk" placeholder="Nomor Induk"></b-form-input>
          </b-form-group>

          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.nama" placeholder="Nama"></b-form-input>
          </b-form-group>

          <b-button class="bg-primary float-right">Submit</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL EDIT -->

    <!-- MODAL DELETE -->
    <b-modal ref="modal-delete" hide-footer header-bg-variant="primary" header-text-variant="light" title="Hapus Peserta">
      <b-row>
        <b-col>
          <h5>Apakah anda yakin?</h5>
          <b-button class="bg-danger float-right">Ya</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL DELETE -->

    <!-- END MODAL SECTIONS -->
  </div>
</template>

<script>

export default {
  name: 'home',
  components: {
  },
  data () {
    return {
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      fields: [
        { key: 'no', label: '#', sortable:true },
        { key: 'no_induk', label: 'No. Induk', sortable: true },
        { key: 'nama', label: 'Nama', sortable: true },
        { key: 'options', label: 'Options'}
      ],
      items: [
        {no:1, no_induk:1461505237, nama:'Adeardo Dora Harnanda'},
        {no:2, no_induk:1461505127, nama:'Indah Berliana Bening'}
      ],
      form: {
        no_induk: '',
        nama: '',
        file: null
      }
    }
  },
  methods: {
    // Trigger pagination to update the number of buttons/pages due to filtering
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    showModalAdd() {
      this.$refs['modal-add'].show()
    },
    showModalImport() {
      this.$refs['modal-import'].show()
    },
    showModalEdit() {
      this.$refs['modal-edit'].show()
    },
    showModalDelete() {
      this.$refs['modal-delete'].show()
    }
  },
  computed: {
    // Create an options list from our fields
    sortOptions() {
      return this.fields
      .filter(f => f.sortable)
      .map(f => {
        return { text: f.label, value: f.key }
      })
    }
  },
  mounted() {
  },
}
</script>

<style lang="scss" scoped>

</style>

