<template>
  <div>
    <b-container fluid style="margin-bottom:100px;">
      <b-row :style="$mq | mq({xs:{marginTop:'30px'},md:{marginTop:'70px'}})">
        <b-col cols="12">
          <h2 class="mt-4 mb-4 text-uce d-inline-block">{{datas.exam.title}}</h2>
          <b-dropdown variant="secondary" size="sm" right text="Options" class="ml-3 pb-3 d-inline-block">
            <b-dropdown-item>Preview Soal</b-dropdown-item>
            <b-dropdown-item>Live!</b-dropdown-item>
            <b-dropdown-item>Lihat Score</b-dropdown-item>
          </b-dropdown>
          <hr>
        </b-col>

        <!-- SEARCH FORM -->
        <b-col cols="12">
          <b-input-group class="mb-2">
            <b-form-input v-model="filter" placeholder="Search..."></b-form-input>
          </b-input-group>
        </b-col>
        <!-- END SEARCH FORM -->

        <!-- SORT BY FORM -->
        <b-col cols="6" md="4">
          <b-form-group label="Sort" class="mb-1">
            <b-input-group style="max-width:200px;">
              <b-form-select v-model="sortBy" :options="sortOptions" size="sm">
                <option slot="first" :value="null">-- none --</option>
              </b-form-select>

              <b-form-select v-model="sortDesc" :disabled="!sortBy" slot="append" size="sm">
                <option :value="false">Asc</option> <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col cols="6" md="4">
          <b-form-group label="Sort direction" class="mb-1">
            <b-input-group style="max-width:100px;">
              <b-form-select v-model="sortDirection" slot="append" size="sm">
                <option value="asc">Asc</option> <option value="desc">Desc</option>
                <option value="last">Last</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        <!-- END SORT BY FORM -->
        
        <!-- PER PAGE COUNT -->
        <b-col cols="6" md="4">
          <b-form-group label="Per page" class="mb-3">
            <div style="max-width:100px;">
              <b-form-select v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
            </div>
          </b-form-group>
        </b-col>
        <!-- END PER PAGE COUNT -->

        <!-- BUTTON ADD AND IMPORT -->
        <b-col cols="12">
          <b-button class="bg-primary btn-sm float-right" @click="showModalAdd"><fa icon="plus" /> Add New</b-button>
        </b-col>
        <!-- END BUTTON ADD AND IMPORT -->

        <!-- TABLE BEGIN -->
        <b-col cols="12">
          <div style="width:auto;white-space:nowrap;overflow-x: auto;">
            <b-table
              bordered striped
              :items="datas.questions"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              @filtered="onFiltered"
            >
              
              <template slot="no" slot-scope="data">
                {{data.index + 1}}
              </template>

              <template slot="title" slot-scope="data">
                {{data.item.title.htmlReplace(' ')}}
              </template>

              <template slot="choices">
                <b-dropdown variant="secondary" size="sm" right text="Jawaban">
                  <b-dropdown-item>Lihat Jawaban</b-dropdown-item>
                  <b-dropdown-item>Tambah Jawaban</b-dropdown-item>
                </b-dropdown>
              </template>
              <!-- ADD CUSTOM BUTTON -->
              <template slot="options" slot-scope="data">
                <a href="javascript:void(0)" class="text-primary" @click="showModalView(data.item.id)">
                  <fa icon="eye" size="sm" />
                </a> |
                <a href="javascript:void(0)" @click="showModalEdit(true)" class="text-warning">
                  <fa icon="edit" size="sm" />
                </a> |
                <a href="javascript:void(0)" @click="destroy(data.item.id)" class="text-danger">
                  <fa icon="trash-alt" size="sm" />
                </a>
              </template>
              <!-- END CUSTOM BUTTON -->

            </b-table>
          </div>
        </b-col>
        <!-- TABLE END -->

        <b-col md="12" class="mb-3 mt-3 mt-md-0">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            size="sm"
            class="my-0 float-right"
          ></b-pagination>
        </b-col>

      </b-row>
    </b-container>

    <!-- MODAL SECTIONS -->

    <!-- MODAL VIEW -->
    <b-modal ref="modal-view" hide-footer header-bg-variant="primary" header-text-variant="light" title="Preview Soal" style="max-width:500px;">
      <div v-html="questionView"></div>
    </b-modal>
    <!-- END MODAL VIEW -->

    <!-- MODAL ADD -->
    <b-modal ref="modal-add" hide-footer header-bg-variant="primary" header-text-variant="light" title="Tambah Soal" style="width:400px;">
      <b-row>
        <b-col>
          <label for="uraian">Uraian Soal</label>
          <ckeditor :editor="ckeditor.editor" v-model="form.title" :config="ckeditor.editorConfig"></ckeditor>

          <b-form-group class="mb-3" label="Score">
            <b-form-input type="text" v-model="form.score" placeholder="10"></b-form-input>
          </b-form-group>
          <b-button class="bg-primary float-right btn-sm mt-2 w-100" @click="store">Save</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL ADD -->

    <!-- MODAL EDIT -->
    <b-modal ref="modal-edit" hide-footer header-bg-variant="primary" header-text-variant="light" title="Edit Peserta">
      <b-row>
        <b-col>
          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.no_induk" placeholder="Nomor Induk"></b-form-input>
          </b-form-group>

          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.nama" placeholder="Nama"></b-form-input>
          </b-form-group>

          <b-button class="bg-primary float-right">Submit</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL EDIT -->

    <!-- END MODAL SECTIONS -->
  </div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

export default {
  name: 'home',
  components: {
  },
  data () {
    return {
      ckeditor: {
        editor: ClassicEditor,
        editorConfig: {
          toolbar: [ 'heading','|','bold', 'italic', 'bulletedList', 'numberedList' ]
        }
      },
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      fields: [
        { key: 'no', label: '#', sortable:true },
        { key: 'title', label: 'Uraian Soal', sortable: true },
        { key: 'choices', label: 'Choices'},
        { key: 'options', label: 'Options'}
      ],
      datas: {
        exam: '',
        questions: [],
        groupsData: []
      },
      form: {
        title: '',
        media: '',
        score: 10,
        exam: ''
      },
      questionView: {}
    }
  },
  methods: {
    // Trigger pagination to update the number of buttons/pages due to filtering
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    getAll(exam) {
      this.axios.get('/question/inexam?exam='+exam).then(r => {
        this.datas.questions = r.data
      })
    },
    getOne(exam) {
      
    },
    // Store exam function
    store() {
      this.form.exam = this.datas.exam.id
      this.axios.post('/question', this.form)
      .then((r) => {
        this.$refs['modal-add'].hide()
        this.$toastAdded()
        this.getAll(this.datas.exam.id)
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    // End store exam function

    // Destroy exam function
    destroy(id) {
      this.$deleteModal()
      .then(val => {
        if (val) {
          this.axios.delete('/exam/'+id)
          .then((r) => {
            this.$toastDeleted()
            this.getAll(this.datas.exam.id)
          })
          .catch(function (error) {
            console.log(error)
          })
        }
      })
    },
    // End destory exam function

    groupsList() {
      this.axios.get('/group').then((response) => {
        this.datas.groupsData = response.data
        this.datas.groupsData = this.datas.groupsData.map(f => {
          return { text: f.group, value: f.id }
        })
      })
    },
    showModalAdd() {
      this.$refs['modal-add'].show()
    },
    showModalView(id) {
      this.axios.get('/question/'+id).then(r => {
        this.questionView = r.data.title
      })
      this.$refs['modal-view'].show()
    },
    showModalEdit() {
      this.$refs['modal-edit'].show()
    }
  },
  computed: {
    // Create an options list from our fields
    sortOptions() {
      return this.fields
      .filter(f => f.sortable)
      .map(f => {
        return { text: f.label, value: f.key }
      })
    },
    getDetail() {
      this.axios.get('/exam/'+this.$route.params.id).then((response) => {
        this.datas.exam = response.data.data
        this.getAll(this.datas.exam.id)
      })
    }
  },
  created() {
    this.$Progress.start()
    this.getDetail
    this.groupsList()
  },
  mounted() {
    this.$Progress.finish()
  },
}
</script>

<style lang="scss" scoped>

</style>

