<template>
  <div>
    <b-container fluid style="margin-bottom:100px;">
      <b-row :style="$mq | mq({xs:{marginTop:'30px'},md:{marginTop:'70px'}})">
        <b-col cols="12">
          <h2 class="mt-4 mb-4 text-uce">data ujian</h2>
          <hr>
        </b-col>

        <!-- SEARCH FORM -->
        <b-col cols="12">
          <b-input-group class="mb-2">
            <b-form-input v-model="filter" placeholder="Search..."></b-form-input>
          </b-input-group>
        </b-col>
        <!-- END SEARCH FORM -->

        <!-- SORT BY FORM -->
        <b-col cols="6" md="4">
          <b-form-group label="Sort" class="mb-1">
            <b-input-group style="max-width:200px;">
              <b-form-select v-model="sortBy" :options="sortOptions" size="sm">
                <option slot="first" :value="null">-- none --</option>
              </b-form-select>

              <b-form-select v-model="sortDesc" :disabled="!sortBy" slot="append" size="sm">
                <option :value="false">Asc</option> <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col cols="6" md="4">
          <b-form-group label="Sort direction" class="mb-1">
            <b-input-group style="max-width:100px;">
              <b-form-select v-model="sortDirection" slot="append" size="sm">
                <option value="asc">Asc</option> <option value="desc">Desc</option>
                <option value="last">Last</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
        <!-- END SORT BY FORM -->
        
        <!-- PER PAGE COUNT -->
        <b-col cols="6" md="4">
          <b-form-group label="Per page" class="mb-3">
            <div style="max-width:100px;">
              <b-form-select v-model="perPage" :options="pageOptions" size="sm"></b-form-select>
            </div>
          </b-form-group>
        </b-col>
        <!-- END PER PAGE COUNT -->

        <!-- BUTTON ADD AND IMPORT -->
        <b-col cols="12">
          <b-button class="bg-primary btn-sm float-right" @click="showModalAdd"><fa icon="plus" /> Add New</b-button>
        </b-col>
        <!-- END BUTTON ADD AND IMPORT -->

        <!-- TABLE BEGIN -->
        <b-col cols="12">
          <div style="width:auto;white-space:nowrap;overflow-x: auto;">
            <b-table
              bordered striped
              :items="datas.exams"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              @filtered="onFiltered"
            >
              
              <template slot="no" slot-scope="data">
                {{data.index + 1}}
              </template>
              
              <template slot="group" slot-scope="data">
                {{data.item.group.name}}
              </template>
              <!-- ADD CUSTOM BUTTON -->
              <template slot="options" slot-scope="data">
                <b-link :to="`/ujian/${data.item.id}`" class="text-primary">
                  <fa icon="eye" size="sm" />
                </b-link> |
                <a href="javascript:void(0)" @click="showModalEdit(true)" class="text-warning">
                  <fa icon="edit" size="sm" />
                </a> |
                <a href="javascript:void(0)" @click="destroy(data.item.id)" class="text-danger">
                  <fa icon="trash-alt" size="sm" />
                </a>
              </template>
              <!-- END CUSTOM BUTTON -->

            </b-table>
          </div>
        </b-col>
        <!-- TABLE END -->

        <b-col md="12" class="mb-3 mt-3 mt-md-0">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            size="sm"
            class="my-0 float-right"
          ></b-pagination>
        </b-col>

      </b-row>
    </b-container>

    <!-- MODAL SECTIONS -->

    <!-- MODAL ADD -->
    <b-modal ref="modal-add" hide-footer header-bg-variant="primary" header-text-variant="light" title="Tambah Ujian Baru">
      <b-row>
        <b-col>
          <b-form-group label="Nama Ujian" class="mb-3">
            <b-form-input type="text" v-model="form.title" placeholder="Nama Ujian"></b-form-input>
          </b-form-group>

          <b-form-group label="Waktu" class="mb-3">
            <datetime type="time" v-model="form.time" input-format="hh:mm:ss"></datetime>
          </b-form-group>

          <b-form-group label="Tanggal" class="mb-3">
            <datetime type="date" v-model="form.date" format="yyyy-L-dd"></datetime>
          </b-form-group>

          <b-form-group label="Group" class="mb-3">
              <b-form-select v-model="form.group" :options="datas.groupsData" size="sm"></b-form-select>
          </b-form-group>

          <b-button class="bg-primary float-right" @click="store">Submit</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL ADD -->

    <!-- MODAL EDIT -->
    <b-modal ref="modal-edit" hide-footer header-bg-variant="primary" header-text-variant="light" title="Edit Peserta">
      <b-row>
        <b-col>
          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.no_induk" placeholder="Nomor Induk"></b-form-input>
          </b-form-group>

          <b-form-group class="mb-3">
            <b-form-input type="text" v-model="form.nama" placeholder="Nama"></b-form-input>
          </b-form-group>

          <b-button class="bg-primary float-right">Submit</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <!-- END MODAL EDIT -->

    <!-- END MODAL SECTIONS -->
  </div>
</template>

<script>
export default {
  name: 'home',
  components: {
  },
  data () {
    return {
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      fields: [
        { key: 'no', label: '#', sortable:true },
        { key: 'title', label: 'Nama Ujian'},
        { key: 'date', label: 'Tanggal Pelaksanaan', sortable: true },
        { key: 'group', label: 'Group', sortable: true },
        { key: 'options', label: 'Options'}
      ],
      datas: {
        exams: [],
        groupsData: []
      },
      form: {
        title: '',
        time: '',
        date: '',
        group: ''
      }
    }
  },
  methods: {
    // Trigger pagination to update the number of buttons/pages due to filtering
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    getAll() {
      this.axios.get('/exam').then((response) => {
        this.datas.exams = response.data.data
      })
    },

    // Store exam function
    store() {
      this.form.date = this.$moment(this.form.date).format('YYYY-MM-DD')
      this.form.time = this.$moment(this.form.time).format('HH:mm:ss')
      this.axios.post('/exam', this.form)
      .then((r) => {
        this.$refs['modal-add'].hide()
        this.$toastAdded()
        this.getAll()
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    // End store exam function

    // Destroy exam function
    destroy(id) {
      this.$deleteModal()
      .then(val => {
        if (val) {
          this.axios.delete('/exam/'+id)
          .then((r) => {
            this.$toastDeleted()
            this.getAll()
          })
          .catch(function (error) {
            console.log(error)
          })
        }
      })
    },
    // End destory exam function

    groupsList() {
      this.axios.get('/group').then((response) => {
        this.datas.groupsData = response.data
        this.datas.groupsData = this.datas.groupsData.map(f => {
          return { text: f.group, value: f.id }
        })
      })
    },
    showModalAdd() {
      this.$refs['modal-add'].show()
    },
    showModalEdit() {
      this.$refs['modal-edit'].show()
    }
  },
  computed: {
    // Create an options list from our fields
    sortOptions() {
      return this.fields
      .filter(f => f.sortable)
      .map(f => {
        return { text: f.label, value: f.key }
      })
    }
  },
  created() {
    this.$Progress.start()
    this.getAll()
    this.groupsList()
  },
  mounted() {
    this.$Progress.finish()
  },
}
</script>

<style lang="scss" scoped>

</style>

