<template>
	<div class="welcome">
		<b-container>
			<div class="w-100">
				<b-row align-h="center" align-v="center" class="mt-5 mt-md-0" style="height:100vh;">
					<b-col cols="12" md="6" :order="$mq | mq({ xs:2, sm: 2, md: 1, lg: 1, xl: 1 })">
						<b-card title="Hi Welcome" class="text-center shadow-sm d-block mx-auto" style="max-width:400px;">
							<hr>
							<b-form>
								<b-input-group class="mb-4 mt-4">
									<b-input-group-prepend is-text>
										<fa icon="user" />
									</b-input-group-prepend>
									<b-form-input id="input-username" type="text" v-model="form.username" placeholder="Nomor Induk"></b-form-input>
								</b-input-group>
								<b-input-group class="mb-4">
									<b-input-group-prepend is-text>
										<fa icon="lock" />
									</b-input-group-prepend>
									<b-form-input id="input-password" type="password" v-model="form.password" placeholder="Password"></b-form-input>
								</b-input-group>
								<b-button type="submit" variant="primary" class="w-100">Login</b-button>
							</b-form>
						</b-card>
					</b-col>
					<b-col cols="12" md="6" :order="$mq | mq({ xs: 1, sm: 1, md: 2, lg: 2, xl: 2 })">
						<div class="parent-jumbotron">
							<div class="child-jumbotron">
								<img src="@/assets/landing.png" class="d-block mx-auto" alt="exam" style="max-width:80%;">
							</div>
						</div>
					</b-col>
				</b-row>
			</div>
		</b-container>
	</div>
</template>

<script>
export default {
	data() {
		return {
			form: {
				username: '',
				password: ''
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.parent-jumbotron {
	position: relative;
	height: 50vh;
	width: 100%;
}

.child-jumbotron {
	margin: 0;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
</style>
