<template>
  <div>
    <mq-layout mq="xs">
      <b-navbar class="navbar-fixed-bottom" type="light" variant="light">
        <div class="d-block w-100">
          <b-row class="text-center">
            <b-col>
              <a href="javascript:void(0)" class="text-dark" title="Sign-out">
                <fa icon="home" size="lg" />
              </a>
            </b-col>
            <b-col>
              <a href="javascript:void(0)" class="text-dark" title="Sign-out">
                <fa icon="user" size="lg" />
              </a>
            </b-col>
            <b-col>
              <a href="javascript:void(0)" class="text-dark" title="Sign-out">
                <fa icon="door-closed" size="lg" />
              </a>
            </b-col>
            <b-col>
              <a href="javascript:void(0)" class="text-dark" title="Sign-out">
                <fa icon="power-off" size="lg" />
              </a>
            </b-col>
          </b-row>
        </div>
      </b-navbar>
    </mq-layout>
  </div>
</template>

<style lang="scss" scoped>
.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.navbar {
  -webkit-box-shadow: 0px -1px 4px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 4px -1px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 4px -1px rgba(0,0,0,0.75);
}
</style>
