<template>
  <div>
    <div class="wrapper-sidenav sidenav-navbar fixed-top">
      <b-navbar toggleable="sm" type="lighr" variant="light">
        <b-btn id="toggle-sidenav" class="bg-transparent text-dark"><fa icon="bars" /></b-btn>
        <b-navbar-brand>Welcome Admin</b-navbar-brand>
        <div class="d-block w-100">
          <a href="javascript:void(0)" class="text-danger float-right" title="Sign-out">
            <fa icon="power-off" size="lg" />
          </a>
        </div>
      </b-navbar>
    </div>

    <div class="sidenav">
      <b-nav pills vertical>
        <b-nav-item to="/dashboard">
          <div class="nav-icon">
            <fa icon="tachometer-alt"/>
          </div>
          <p>
            Dashboard
          </p>
        </b-nav-item>
        <b-nav-item to="/peserta">
          <div class="nav-icon">
            <fa icon="user"/>
          </div>
          <p>
            Peserta
          </p>
        </b-nav-item>
        <b-nav-item to="/ujian">
          <div class="nav-icon">
            <fa icon="door-closed"/>
          </div>
          <p>
            Data Ujian
          </p>
        </b-nav-item>
        <b-nav-item>
          <div class="nav-icon">
            <fa icon="database"/>
          </div>
          <p>
            Data
          </p>
        </b-nav-item>
        <b-nav-item>
          <div class="nav-icon">
            <fa icon="cog"/>
          </div>
          <p>
            Setting
          </p>
        </b-nav-item>
      </b-nav>
    </div>
  </div>
</template>
