<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
const default_layout = 'landing'

export default {
  computed: {
    layout () {
      return `${(this.$route.meta.layout || default_layout)}-layout`
    }
  }
}
</script>

<style lang="scss">
.tox-silver-sink {
  z-index:0 !important;
}
</style>
