.sidenav {
  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222831;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: .5rem;
  padding-right: .5rem;
  transition: 0.5s;
}

.sidenav .nav-link {
  color: #F4F6F9 !important;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0 !important;

  &.active,
  &.router-link-active {
    background: #00ADB5;
    color: #222831 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  }

  & .nav-icon {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    width: 1.6rem;
    margin-right: .2rem;
  }

  & p {
    display: inline-block;
    margin: 0;
    padding-left: .5rem;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
  }
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.wrapper-sidenav {
  transition: margin-left .5s;
}