<template>
  <div>
    <Sidebar />
    <NavbarBottom />
    <div class="wrapper-sidenav">
      <transition name="fade">
        <router-view/>
      </transition>
    </div>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import NavbarBottom from '@/components/NavbarBottom.vue'
import Sidebar from '@/components/Sidebar.vue'

export default {
  components: {
    NavbarBottom,
    Sidebar
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
